

body{
    width: 900px;
}

header{
    height: 80px;
    width: 100%;
    background-image: url(../img/pattern.png);
    background-size:contain;
    background-color: rgb(50, 109, 219);
    
}

h1{
    margin-bottom: 0px;;
}

span{
    font-size: 10px;;
}

div{
    display: inline-block;
}
.foto-tim-1{
    
    height: 300px;
    width: 400px;
    margin: 0;
    background-size: cover;
    
}

.logo{
background-repeat: no-repeat;
padding-top: 40px;;
    
}

.sottotitolo-foto{
    margin: 0;
    font-size: 8px;
}

#link-booleaners{
    color: rgb(105, 207, 241);
}

#sottotitolo-main{
    color: rgb(170, 170, 170);
}
#data-main{
    font-size: 8px;;
    color: rgb(170, 170, 170);
    margin: 0;
}

#riga-principale{
    background-color: rgba(12, 155, 238, 0.76);
}

.riga-colorata{
    background-color: cyan;
}